.section-one,
footer{
    background-color: #1f2937
}

.section-one{
    display: flex;
    flex-direction: column;
    padding: 5px 50px 100px;
}

.subheader{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;

}

.section-one_content{
    display: flex;

}

.subheader-right{
    display: flex;
    gap: 20px;
}

.section-one_content-left{
    margin-right: 50px;
}

#hero-secondary-text{
    margin-bottom: 10px;
}

h1{
    color: #f9faf8;
    font-size: 24px;
}

h2, #hero-secondary-text{
    color: #e5e7eb;
    font-size: 18px;
    font-weight: 300;
}

#hero-main-text{
    color: #f9faf8;
    font-weight: 800;
    font-size: 48px;
}

.image-placeholder{
    background-color: darkgray;
    color:#e5e7eb;
    font-size: 18px;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-basis: 800px;
}

button{
    background-color: #3882f6;
    color: #f9faf8;
    padding: 5px 25px;
    font-weight: 600;
    border-radius: 10px;
    border: 0px;
    font-size: 16px;
}

.section-two{
    text-align: center;
    padding: 60px;
}

.information-header{
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
    margin-bottom: 30px;
}
.illustrations{
    display: flex;
    justify-content: space-around;
}

.info{
    flex-basis: 150px;
}
.illustration{
    height: 150px;
    border:3px solid #3882f6;
    border-radius: 10px;
    margin-bottom:5px;

}

.section-three{
    padding: 80px 60px;
    background-color: #e5e7eb

}

blockquote{
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
    font-weight: lighter;
    margin-bottom: 10px;
    margin-top: 0px;

}

cite{
    display: flex;
    justify-content: flex-end;
    color: #1f2937;
    font-weight: bold;
    font-size: 20px;
    font-style: normal ;
}

.section-four{
    margin:50px 100px;
    background-color: #3882f6;
    padding: 30px 60px;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items:center;
    border-radius: 5px;
}
.call{
    color: white;
    font-size: 20px;
}

.call-subtext{
    color: darkgray;
    font-size: 18px;
}

.section-four_left{
    display:flex;
    flex-direction:column;
    

}
.section-four_right > button{
    border: 2px solid white;
}

footer{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: darkgray;
    font-size: 18px;
}